<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body>
	<section>
		<script type="text/javascript" th:src="@{/js/myjs.js}"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Change Password</div>
						<th:block th:if="${session.msg}">
							<p class="text-center text-success">[[${session.msg}]]</p>
							<th:block th:text="${@userServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						<div class="card-body">
							<form action="updatepassword" method="post">
								<div class="mb-3">
									<label>Enter Old Password</label> <input type="text" name="oldPass"
										class="form-control" id="Password">
								</div>
								<div class="mb-3">
									<label>Enter New Password</label> <input type="text" name="newPass"
										class="form-control" id="ConfirmPassword">
								</div>
								<div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
								<button class="btn btn-primary col-md-12">Change Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$(document).ready(function () {
				$("#ConfirmPassword").on('keyup', function () {
					var password = $("#Password").val();
					var confirmPassword = $("#ConfirmPassword").val();
					if (password != confirmPassword)
						$("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
					else
						$("#CheckPasswordMatch").html("Password match !").css("color", "green");
				});
			});
		</script>
	</section>
</body>

</html>