<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>HOME</title>

</head>
<body>
<section>
	<link rel="stylesheet" th:href="@{/css/mycss.css}">
	<div class="text-center mt-5">
		<h1 style="color: white;">USER MANAGEMENT SYSTEM</h1>
		<p style="color: white;">WE THINK SOMETHING UNIQUE</p>
	</div>
	
	<footer>
		<p style="color: white;">@Copywrite 2023 #Design and developed by AKASH if any issue contact me akash06.rout@gamil.com</p>
	</footer>
</section>
</body>
</html>